@{
    Layout = null;
}

@model readDataFromDb.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>Product Info</h3>
    <form method="post" asp-controller="product" asp-action="delete">
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>Id</td>
                <td>
                    <input type="text" asp-for="Id" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Delete" />
                </td>
            </tr>
        </table>
    </form>

</body>
</html>