@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";}


<a asp-controller="AboutUs" asp-action="about1">About 1</a>
<a asp-controller="AboutUs" asp-action="about2">About 2</a>
<br />
<br />
@RenderBody()