@{ 
    Layout = null;
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Success</title>
    </head>
    <body>
        <h3>Product Info</h3>
        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <td>ID</td>
                <td>@ViewBag.product.Id</td>
            </tr>
    
            <tr>
                <td>Name</td>
                <td>@ViewBag.product.Name</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>@ViewBag.product.Price</td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><img src="C:\Users\Jidesh\Downloads\anfa.png" /></td>
            </tr>
        </table>
    </body>
    </html>