@{ 
    Layout = null;
}
<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Index</title>
    </head>
    <body>
        Result1 : @ViewBag.result1
        <br/>
        result2:@ViewBag.result2
    <br />
        result3:@ViewBag.result3
    <br />
        result4: @ViewBag.result4
    <br />
        result5: @ViewBag.result5
    </body>
    </html>