@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h3>Index View</h3>
   <a asp-controller="demo" asp-action="demo2" asp-route-id="123">Demo2</a>
    <br />
    <a asp-controller="demo" asp-action="demo3" asp-route-id1="123" asp-route-id2="p01">Demo3</a> 
</body>
</html>